<div class="flex justify-center w-full">
  <div class="flex gap-2">
    <button type="button" (click)="onNext(1)" class="relative" [matTooltip]="'Pagina Inicial'">
      <i class="material-icons btn p-2 m-0">first_page</i>
    </button>

    <button
      type="button"
      (click)="onNext(currentPage - 1)"
      class="relative"
      [matTooltip]="'Pagina Anterior'"
    >
      <i class="material-icons btn p-2 m-0">arrow_back_ios_new</i>
    </button>

    <div class="flex gap-1 mx-2">
      @for (i of items; track i) {
      <button
        (click)="onNext(i)"
        class="btn w-10 h-10 shadow-lg"
        [class]="i === currentPage ? 'bg-stone-500' : ''"
      >
        {{ i }}
      </button>
      }
    </div>

    <button
      type="button"
      (click)="onNext(currentPage + 1)"
      class="relative"
      [matTooltip]="'Pagina Siguiente'"
    >
      <i class="material-icons btn p-2 m-0">arrow_forward_ios</i>
    </button>

    <button
      type="button"
      (click)="onNext(totalPages)"
      class="relative"
      [matTooltip]="'Pagina Final'"
    >
      <i class="material-icons btn p-2 m-0">last_page</i>
    </button>
  </div>
</div>
