/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* Establece el fondo del cuerpo usando el color secundario definido en tailwind.config.js */
body {
  background-color: var(--color-secondary);
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-error {
  color: red !important;
}

/* ===== Scrollbar CSS ===== */
/* https://webkit-scroll-gen.sourceforge.net/ */
::-webkit-scrollbar {
  @apply w-4 h-4;
}

::-webkit-scrollbar-button {
  @apply w-0 h-0;
}

::-webkit-scrollbar-thumb {
  @apply bg-stone-800 rounded-full border border-gray-300;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-stone-800;
}
/* ===== END Scrollbar CSS ===== */

/* Tailwind generic classes */
@layer components {
  .btn {
    @apply flex;
    @apply gap-2;
    @apply items-center;
    @apply justify-center;

    @apply rounded-full;

    @apply hover:brightness-90;
    @apply focus:outline-none;
    @apply active:brightness-90;

    @apply p-2;

    @apply disabled:opacity-50;
    @apply cursor-pointer;

    @apply shadow-sm;
    @apply bg-stone-800;
    @apply text-white;
  }

  .bg-custom {
    @apply bg-stone-800;
    @apply text-white;
  }

  .bg-custom-invert {
    @apply text-stone-800;
    @apply bg-white;
    @apply relative;
  }

  .material-icons {
    @apply mx-0;
    @apply px-0;
    @apply select-none;
  }

  .card {
    @apply rounded-lg;
    @apply shadow-sm;
    @apply p-2;
  }

  .container-table {
    @apply w-full;
    @apply overflow-x-auto;

    @apply text-stone-800;
    @apply bg-white;

    @apply rounded-md;
    @apply p-2;
  }

  table {
    @apply min-w-full;
    @apply whitespace-nowrap;
    @apply divide-y;
    @apply divide-gray-300;
    @apply bg-white;
    @apply rounded-lg;
  }

  table thead tr {
    @apply text-lg;
    @apply text-left;
  }

  table tbody tr {
    @apply odd:bg-gray-200;
    @apply border-b;
    @apply border-gray-400;
  }

  table tbody tr td {
    @apply p-2;
  }
}
